h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
h2{
    font: size 35px;px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}